.card {
    display: inline-block;
    height: 300px;
    width: 225px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: 250ms box-shadow ease-in-out;
}

.card:hover {
    box-shadow: 5px 5px 0 #333;
}

.card-text {
    padding: 10px;
}

.card:hover .card-title {
    text-decoration: underline;
}

.card-title {
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.card-content {
    padding: 5px 0 5px;
    font-size: 14px;
}